html, body {
    margin: 0;
    padding: 0;
    background-color: rgba(200, 200, 200, 0.05);
}

:root {
    --td-red: #ff5b5b;
    --td-blue: #007bff;
    --td-white: white;
    --td-dark-white: #e5e5e5;
}