apiVersion: batch/v1
kind: CronJob
metadata:
  name: ${DEPLOY_ENV}-realized-orders-check-cron-job
  namespace: termodom-namespace
spec:
  schedule: "*/30 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: ${DEPLOY_ENV}-realized-orders-check-cron-job-container
              image: limitlesssoft/td-cron-order-status-check-cron-job:${DEPLOY_ENV}
              imagePullPolicy: Always
              env:
              - name: VAULT_URI
                value: "${VAULT_URI}"
              - name: VAULT_USERNAME
                value: "${VAULT_USERNAME}"
              - name: VAULT_PASSWORD
                value: "${VAULT_PASSWORD}"
              - name: VAULT_ENGINE
                value: "${VAULT_ENGINE}"
              - name: VAULT_PATH
                value: "${VAULT_PATH}"
          restartPolicy: OnFailure
          imagePullSecrets:
            - name: regcred