apiVersion: batch/v1
kind: CronJob
metadata:
  name: ${DEPLOY_ENV}-realized-orders-check-cron-job
  namespace: termodom-namespace
spec:
  schedule: "*/30 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: ${DEPLOY_ENV}-realized-orders-check-cron-job-container
              image: limitlesssoft/td-cron-order-status-check-cron-job:${DEPLOY_ENV}
              imagePullPolicy: Always
#              env:
#              - name: DB_HOST
#                value: "${DB_HOST}"
#              - name: DB_PORT
#                value: "${DB_PORT}"
#              - name: DB_USER
#                value: "${DB_USER}"
#              - name: DB_PASS
#                value: "${DB_PASS}"
#              - name: DB_NAME
#                value: "${DB_NAME}"
#              - name: NODE_TLS_REJECT_UNAUTHORIZED
#                value: "0"
#              - name: BASE_KOMERCIJALNO_API_URL
#                value: "${BASE_KOMERCIJALNO_API_URL}"
          restartPolicy: OnFailure
          imagePullSecrets:
            - name: regcred