name: Deploy danas update cron job

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
        
jobs:
  apply-resources:
    runs-on: ubuntu-latest
    environment: ${{ inputs.env }}
    steps:
      - uses: actions/checkout@v3

      - name: Set K8s context
        uses: ossrs/k8s-set-context-action@v1
        with:
          kubeconfig: '${{ secrets.KUBE_CONFIG_PURE }}'

      - name: Deploy termodom-parametri-danas-update-cron-job application
        run: |-
          export DEPLOY_ENV=${{ inputs.env }}
          
          envsubst < k8s/cronjobs/parametri-danas-update-cron-job.yaml | kubectl apply -f -