.wrapper {
    min-height: 50px;
    height: 8vh;
    max-height: 100px;
    overflow: hidden;
    background-color: rgb(var(--main-color));
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.link {
    height: 100%;
    padding: 5px 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-weight: 600;
    font-size: 1.3em;
    background-color: rgb(var(--main-color));
    color: whitesmoke;
}

.link:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.filler {
    flex-grow: 1;
}