.proizvodiWrapper {
    margin: 50px 0;
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
}

.proizvodItem {
    margin: 10px;
    flex: 1 0 17%;
    overflow: hidden;
    padding: 5px;
}

.proizvodItem[data-klasifikacija='0'] {
    background-color: gray;
}

.proizvodItem[data-klasifikacija='1'] {
    background-color: green;
}

.proizvodItem[data-klasifikacija='2'] {
    background-color: orange;
}

.proizvodItem img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.proizvodItem:hover {
    cursor: pointer;
    background-color: rgb(var(--blue-hover));
}

.proizvodiItemInnerWrapper {
    background-color: white;
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.proizvodItemImageWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 5 / 4;
    overflow: hidden;
}

.proizvodItemNaslov {
    width: 100%;
    padding: 15px 10px;
    font-weight: 600;
    text-align: center;
    font-size: 1.1em;
}

.jmLabel, .vpCena, .mpCena {
    margin: 0px 5px;
}

.vpCena, .mpCena {
    font-size: 1.2em;
}
.vpCena {
    color: rgb(var(--main-color));
    font-weight: 600;
}

.mpCena {
    color: green;
    font-weight: 600;
}

.vpCena label, .mpCena label {
    font-size: 0.8em;
}