.header {
    background-color: var(--td-red);
}

.button {
    padding: 0.25rem 0.5rem;
    color: var(--td-white);
    transition-duration: 75ms;
    font-weight: 400;
    background-color: red / 0.5;
}

.button:hover {
    cursor: pointer;
    color: var(--td-dark-white);
}

.logo {
    width: 100%;
    max-width: 3rem;
}