name: Release orders status check cron job

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
        
jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build docker image
        run: docker build --file src/TD.Cron/TD.Cron.OrderStatusCheckCronJob/Dockerfile -t limitlesssoft/td-cron-order-status-check-cron-job:${{ inputs.env }} .

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: https://index.docker.io/v1/
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Push docker image
        run: docker push limitlesssoft/td-cron-order-status-check-cron-job:${{ inputs.env }}