.korisnik-wrapper {
    max-width: 1100px;
    margin: auto;
}

.korisnik-wrapper .sekcija-1 {
    display: inline-block;
    width: 100%;
    font-family: GothamProBold;
}

    .korisnik-wrapper .korisnik-id {
        float: left;
        width: 8%;
        margin: 1%;
        text-align: center;
        border: 2px solid #f15353;
        padding: 10px;
    }

    .korisnik-wrapper .right {
        float: left;
        width: 88%;
        margin: 1%;
        border: 2px solid #f15353;
        padding: 10px;
    }

    .korisnik-wrapper .korisnik-nadimak {
        float: left;
    }

    .korisnik-wrapper .korisnik-tip-naloga {
        float: left;
        margin-right: 10px;
    }

    .korisnik-wrapper .korisnik-status {
        float: left;
        margin: 0 10px;
    }

    .korisnik-wrapper .korisnik-referent {
        float: right;
    }

    .korisnik-wrapper .sekcija-2 .row {
        margin: 0;
        padding: 10px;
    }

.korisnik-wrapper .sekcija-2 .change-data {
    margin: 5px 0;
}

.korisnik-wrapper .sekcija-2 .akcije {
    margin-top: 10px;
}

.korisnik-wrapper .sekcija-2 input {
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
}

.korisnik-wrapper .sekcija-2 button.azuriraj {
    display: none;
    margin-left: 10px;
}

.korisnik-wrapper .sekcija-2 .loading-gif {
    height: 30px;
    display: none;
}

.korisnik-wrapper .sekcija-2 .akcije button {
    width: 100%;
    margin: 5px 0;
}

.korisnik-wrapper .sekcija-2 .col-md-3 {
    background-color: #6fd2ff;
    padding: 10px;
}

.korisnik-wrapper .sekcija-3 {
    display: inline-block;
    width: 100%;
}

.korisnik-wrapper .sekcija-3 .cenovna-grupa {
    float: left;
    background-color: #ed5151;
    margin: 5px;
    padding: 10px;
    color: white;
    font-family: GothamProMedium;
    position: relative;
}

    .korisnik-wrapper .sekcija-3 .animation-box {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 11px;
        background-color: #cddc39;
        animation: cenovna-grupa-update-animation;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-timing-function: ease;
        border-radius: 10px;
        display: none;
    }

@keyframes cenovna-grupa-update-animation {
    0% {
        left: 0;
        transform: translateX(0);
    }
    50% {
        left: 100%;
        transform: translateX(-100%);
    }
    100% {
        left: 0;
        transform: translateX(0);
    }
}

.korisnik-wrapper .zaglavlje {
    margin: 10px;
}

    .korisnik-wrapper .zaglavlje a {
        font-size: 18px;
        color: rgb(51, 51, 51);
        font-family: GothamProBold;
    }