
.gallery-wrapper {
    max-width: 1100px;
    margin: 10px auto;
}

    .gallery-wrapper .inner {
        display: inline-block;
        width: 100%;
        background-color: whitesmoke;
        height: 80vh;
        border-radius: 5px;
        overflow: hidden;
    }

    .gallery-wrapper .left {
        float: left;
        width: 20%;
        border-right: 1px solid rgb(51, 51, 51);
        height: 100%;
    }

    .gallery-wrapper .close {
        margin: 5px;
    }

    .gallery-wrapper .close:hover {
        cursor: pointer;
        color: red;
    }

.upload-form-toggle-button {
    width: 100%;
    border: none;
    margin: 0;
    padding: 5px;
}

.gallery-wrapper .left input {
    display: none;
}

.gallery-upload label {
    margin-top: 10px;
    width: 100%;
    background-color: #8cc63f;
    color: white;
    text-align: center;
    padding: 5px;
}

    .gallery-upload label:hover {
        cursor: pointer;
    }

.gallery-upload span {
    text-align: center;
    font-size: 12px;
    width: 100%;
    display: block;
}

.upload-form {
    display: none;
}

.gallery-upload-animation-box {
    width: 10px;
    height: 7px;
    background-color: #00b5cc;
    animation: gallery-upload-animation;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    display: none;
}

@keyframes gallery-upload-animation {
    0% {
        margin-left: 0%;
    }

    50% {
        margin-left: calc(100% - 10px);
    }

    100% {
        margin-left: 0%;
    }
}

.gallery-wrapper .right {
    float: left;
    width: 80%;
    height: 100%;
    overflow-y: auto;
}


    .gallery-wrapper .right .content {
        display: inline-block;
        width: 100%;
    }

.gallery-item-small-display-wrapper {
    width: 23%;
    margin: 5px 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    height: 125px;
    overflow: hidden;
    border: 1px solid rgb(100, 100, 100);
    transition-duration: 0.2s;
}

    .gallery-item-small-display-wrapper:hover {
        cursor: pointer;
        filter: contrast(0.7);
        border-color: orange;
    }

.gallery-item-small-display {
    max-width: 100%;
    max-height: 100%;
}