
.Roba {
    width: 18%;
    margin: 1%;
    float: left;
    overflow: hidden;
    display: inline-block;
    border: 2px solid black;
}

    .Roba .Thumbnail {
        width: 100%;
        height: 150px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
    }

    .Roba .Title {
        font-size: 1.1em;
        padding: 5px;
        overflow: hidden;
        height: 2.5em;
        color: black;
    }

    .Roba:hover {
        border-color: black !important;
        cursor: pointer;
        text-decoration: none;
    }
