<style>
    .nacini-kupovine {
        max-width: 1100px;
        margin: 50px auto;
    }

        .nacini-kupovine h1 {
            text-align: center;
            font-family: GothamProBold;
        }

        .nacini-kupovine .segment-1 {
            border-radius: 20px;
            text-align: center;
            background-color: #ff5b5b;
            padding: 20px;
            font-family: GothamProMedium;
        }

        .nacini-kupovine .col-md-6 {
            text-align: center;
            margin-top: 30px;
        }

        .nacini-kupovine h3 {
            font-family: GothamProMedium;
        }
</style>

<div class="nacini-kupovine">
    <h1>Nacini kupovine</h1>
    <div class="segment-1">
        Cene prilikom jednokratne kupovine i cene profesionalaca (logovanih korisnika) se razlikuju.
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Jednokratna Kupovina (neulogovan)</h3>
            <p>
                Prilikom jednokratne kupovine cene nisu fiksne već zavise od ukupne vrednosti računa.
                Što je ukupna vrednost korpe veća, to je cena svakog proizvoda manja!
            </p>
            <p>
                Popust i cene proizvoda su istaknute u samoj korpi.
            </p>
            <p>
                Ukoliko pravite neku izmenu u korpi biće Vam automatski preračunata
                nova cena za svaku stavku pojedinačno.
            </p>
            <a href="/Proizvodi">Nastavi kupovinu</a>
        </div>
        <div class="col-md-6">
            <h3>Profesionalac (ulogovan)</h3>
            <p>
                Ukoliko kupovinu vršite kao ulogovani korisnik onda imate jedinstvene
                uslove koji važe za Vas bez obzira na količinu.
            </p>
            <p>
                U tom slučaju cene su vidljive ne samo u korpi već i u pregledu proizvoda.
            </p>
            <a href="#">Postani profi kupac</a>
        </div>
    </div>
</div>