@model Korisnik
@{
    ViewData["Title"] = "StranicaNijePronadjena";
}
<div style="height: 70vh; display: flex; justify-content: center; align-items: center;">
    <div style="height: auto; text-align: center;">
        <h1 style="color: #e04a4a;">Stranica koju tražite je u izradi</h1>
        <button onmouseout="this.style.opacity = '1'" onmouseover="this.style.opacity = '0.8'" style="padding: 10px 30px;box-shadow: 1px 1px 2px 2px rgb(240, 240, 240);background: #e04a4a;margin-top: 10px;border-radius: 5px;color: white; box-shadow: " onclick="window.location.href='/Proizvodi'">
            Idi na proizvode
        </button>
    </div>
</div>