.Naslov {
    text-align: center;
}

.Thumb {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
}

.Content {
    font-size: 18px;
    padding: 20px;
}