@{ 
    Layout = null;
}

<div class="navigacioni-meni">
    <a class="item" data-page="index" href="/KontrolnaTabla">Kontrolna tabla</a>
    <!--<a class="fsaafs" id="pNavigationMenuPrimedbe" href="/KontrolnaTabla/PredlogBoljeCene">Sve primedbe</a>-->
    <a class="item" data-page="korisnici" href="/KontrolnaTabla/Korisnici">Korisnici</a>
    <a class="item" id="pNavigationMenuProizvodi" href="/KontrolnaTabla/Proizvodi">Proizvodi</a>
    <!--<a class="" id="pNavigationMenuProizvodi" href="/Admin/Brendovi">Brendovi</a>-->
    <!--<a class="fsaafs" id="pNavigationMenuGlobalPodesavanja" href="/Admin/GlobalPodesavanja">Global podesavanja</a>-->
    <a class="item" data-page="porudzbine" href="/KontrolnaTabla/Porudzbine">Sve porudzbine</a>

    <a class="item" href="/GlobalnaPodesavanja">Globalna podesavanja</a>
    <!--<a class="fsaafs" id="pNavigationMenuWhiteBoard" href="/Admin/Whiteboard">Whiteboard</a>-->
    <a class="item" href="/Logout">Izloguj se</a>
</div>