.messageBox {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    border: 1px solid #444;
    min-width: 200px;
    text-align: center;
    z-index: 1000;
    background-color: #06bd00;
    padding: 10px 20px;
    border-radius: 30px;
    transition-duration: 0.2s;
    max-width: 60%;
}

.messageBox.active {
    top: 50px;
    transform: translate(-50%, 0);
}