.productWrapper {
    position: relative;
    max-width: var(--wrapper-max-width);
    margin: auto;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.actionBar {
    padding: 20px 0;
}

.actionBar div {
    background-color: rgb(var(--main-color));
    display: inline-block;
    padding: 5px 20px;
    color: whitesmoke;
    font-weight: 700;
}

.actionBar div:hover {
    cursor: pointer;
    background-color: rgb(var(--blue-hover));
}

.modInfo {
    background-color: #ddd;
    text-align: center;
    font-weight: 600;
    margin: 20px 0;
}

.modInfo div {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.productMainInfo {
    display: flex;
}

.productImageWrapper {
    flex: 1 0 50%;
    overflow: hidden;
    position: relative;
    min-height: 300px;
}

.productImageWrapper img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centralInfo {
    flex: 1 0 35%;
    padding: 20px;
}

.productTitle {
    color: #222;
}

.shortDescription {
    color: #222;
    font-weight: 400;
    text-align: justify;
}

.korpaAkcije {
    display: flex;
    position: relative;
    width: 100%;
}

.kolicinaInputWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px 0;
}

.kolicinaInputField {
    flex: 0 0 48%;
    margin: 0 1%;
    max-width: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.kolicinaInputField label {
    width: 100%;
    background-color: rgb(var(--main-color));
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 10px 10px 0 0;
    font-weight: 700;
}

.kolicinaDownWrapper {
    position: relative;
    display: flex;
}

.kolicinaButtons {
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;
}

.kolicinaButtons button {
    flex: 1 0 50%;
    padding: 0 15px;
    border: none;
    background-color: white;
    font-weight: 800;
}

.kolicinaButtons button:first-of-type {
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}

.kolicinaButtons button:last-of-type {
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}

.kolicinaButtons button:hover {
    cursor: pointer;
    background-color: rgb(var(--blue-hover));
}

.kolicinaInputField input {
    width: 100%;
    aspect-ratio: 1 / 1;
    text-align: center;
    font-size: 2em;
}

.dodajUKorpuButton {
    width: 100%;
    border: none;
    padding: 15px;
    background-color: rgb(var(--main-color));
    font-weight: 600;
    font-size: 1.2em;
    color: whitesmoke;
}

.dodajUKorpuButton:hover {
    cursor: pointer;
    background-color: rgb(var(--blue-hover));
}

.klasaWrapper {
    flex: 1 0 15%;
    overflow: hidden;
}

.klasaWrapper img {
    width: 80%;
    margin: 30% 10%;
}

.klasaWrapper img:hover {
    transition-duration: 0.5s;
    transform: scale(1.2);
    cursor: pointer;
}

.systemInfo {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 30px 0;
    padding: 30px 0;
}

.sysInfoItem {
    font-weight: 700;
    margin: 5px 0;
}

.sysInfoItem label {
    color: #888;
    margin-right: 10px;
}

.detailedInfo {
    overflow: hidden;
    width: 100%;
}

.proizvodJeVecUKorpi {
    background-color: rgb(var(--blue-hover));
    text-align: center;
    color: whitesmoke;
    font-size: 1.2em;
    padding: 20px;
}

.korpaCene {
    display: flex;
    width: 100%;
}

.korpaCenaItem {
    flex: 1 0 50%;
    text-align: center;
    padding: 40px 10px;
}

.korpaCenaItem:first-of-type {
    color: rgb(var(--main-color));
}

.korpaCenaItem:last-of-type {
    color: rgb(0, 185, 40);
}

.korpaCenaItem div:first-of-type {
    font-size: 1.8em;
    font-weight: 600;
}

.korpaCenaItem span {
    font-size: 0.5em;
}

.korpaCenaItem div:last-of-type {
    font-size: 0.8em;
}