.wrapper {
    position: relative;
    max-width: var(--wrapper-max-width);
    margin: auto;
}

.logovanjeWrapper {
    padding: 5px;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 350px;
}

.logovanjeWrapper button, .logovanjeWrapper input {
    width: 96%;
    margin: 5px 2%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.logovanjeWrapper button {
    border: none;
    margin: 13px 2% !important;
}

.logovanjeWrapper h2 {
    margin: 5px 0 20px 0;
    color: #333;
}

.logovanjeWrapper img {
    width: 250px;
}

.logovanjeButton {
    background-color: #337ab7;
    color: white;
    transition-duration: 0.1s;
    padding: 15px 8px !important;
}

.prebaciSeNaJednokratnuButton {
    background-color: #e04a4a;
    color: white;
    font-size: 14px !important;
    padding: 3px !important;
}

.postaniProfiKupacButton {
    background-color: #4caf50;
    color: white;
}

.logovanjeWrapper button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.errorTextLabel {
    color: #e04a4a;
    font-weight: bolder;
    padding: 20px 0;
    display: block;
    display: none;
}

.zdravoPoruka {
    font-size: 1.4em;
    font-weight: 600;
}

.actionBar {
    padding: 20px;
}

.actionBar button, .actionBar a {
    border: none;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(var(--blue-hover));
    color: white;
    font-weight: 600;
    border-radius: 3px;
}

.actionBar button:hover, .actionBar a:hover {
    background-color: rgb(var(--main-color));
    cursor: pointer;
}

.porudzbinaListWrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.porudzbinaListTitle {
    margin: 10px 20px;
    font-size: 1.4em;
    width: 100%;
}

.porudzbinaItem {
    background-color: rgba(var(--blue-hover) / 0.2);
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 1%;
    word-wrap: break-word;
    flex: 1 0 18.1%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.porudzbinaItem:hover {
    cursor: pointer;
    background-color: rgba(var(--blue-hover) / 0.5);
}

.porudzbinaItemUsteda {
    color: rgb(0, 165, 0);
    font-weight: 600;
}