<style>
    .wrapper {
        max-width: 1100px;
        margin: 50px auto;
    }

    .margin-y-20 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .td-red {
        color: red;
    }

    .td-blue {
        color: blue;
    }
</style>

@{
    ViewData["Title"] = "O nama";
}

<div class="wrapper">
    <div class="segment-1 margin-y-20">
        <h2>O nama</h2>
    </div>
    <div class="segment-1">
        <p>
            Davne 1992 godine. vlasnik firme <span class="td-red">TERMO</span><span class="td-blue">DOM</span> osnovao je firmu sa ciljem da se obogati.
            <br /><br /><span class="td-red">TERMO</span><span class="td-blue">DOM</span> priča počinje pre više od 30. godina, gde smo ostvarili svoje želje o uspešnoj građevinskoj kompaniji. Kroz godine smo saznali da je ključ uspeha izdržljivost i posvećenost kvalitetu. Sa tim principima smo izgradili kompaniju. Poznati smo po tome što nudimo širok spektar proizvoda, od najfinije četke, do gipsanih ploča, svaki od njih proverenog kvaliteta.
            <br /><br /><span class="td-red">TERMO</span><span class="td-blue">DOM</span> je centar građevinskog materijala, dobro poznato ime koje asocira  na sigurnost, pouzdanost i kvalitet.
            <br /><br /><span style="text-decoration: underline">MISIJA</span> je da potrošačima svojom ponudom proizvoda i usluga pruža najkvalitetniju i sigurnu kupovinu, po jedinstvenim cenama. Ljubaznim, stručnim osobljem i prijatnim okruženjem napravi razliku u kupovini, kojoj se rado vraćate. Naš cilj je efikasno rešenje  vaših  potreba vezanih za dom ili poslovni prostor, u skladu sa očuvanjem zdravlja i životne sredine.
            <br /><br /><span style="text-decoration: underline">VIZIJA</span> nam je da i u narednim godinama budemo prepoznati kao lideri u industriji građevinskog materijala. Želimo da budemo sastavni deo Vaših stambenih prostora i  da omogućimo kvalitetniji i ekonomičniji  život.
            <br /><br />Smatramo da je svaki projekat jedinstven, zato se trudimo da obezbedimo individualni pristup svakom korisniku. Svesni smo da je izbor građevinskog materijala od ključnog značaja za dugovečnost i stabilnost svake građevine. Zato je naš tim stručnjaka uvek tu da Vam pomogne u pronalaženju najboljeg materijala za Vaš projekat.
            <br /><br /><span class="td-red">TERMO</span><span class="td-blue">DOM</span> je postao sinonim za kvalitet na tržištu građevinskog materijala, što nam je donelo poverenje mnogih zadovoljnih korisnika. Sa ponosom gledamo na decenije naše saradnje, koje su svedočanstvo našeg posvećenog rada, istrajnosti naših proizvoda i pristupačnih cena.  To su vrednosti po kojima nas izdvajate od konkurencije.
            <br /><br />Naša firma je mesto gde se ideje pretvaraju u stvarnost, a snovi u domove. Verujemo da je svaka građevina više od samo zgrade - to je mesto gde ljudi žive, rade i stvaraju uspomene. Zato smo posvećeni tome da svaki naš proizvod doprinese stvaranju prostora koji će obogatiti živote ljudi.
            <br /><br />Čekamo Vas, da ponovo opravdamo poverenje koje nam ukazujete.
        </p>
    </div>
</div>