<style>
    .wrapper {
        max-width: 1100px;
        margin: 50px auto;
    }

    .margin-y-20 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .a12f1f12f1 li {
        margin-bottom: 10px;
    }
</style>

<div class="wrapper">
    <div class="segment-1 margin-y-20">
        <h2>Načini plaćanja</h2>
    </div>
    <div class="segment-1">
        <h4>KUPOVINA SE VRŠI ISKLJUČIVO U TERMODOM MALOPRODAJNIM OBJEKTIMA:</h4>
        <div>
            <ul class="a12f1f12f1">
                <li>Gotovinom na licu mesta<br /><i>Plaćate gotovinom u radnji kada dođete po robu.</i></li>
                <li>Plaćanje debitnim i kreditnim karticama<br /><i>Plaćate platnim karticama u radnji.</i></li>
                <li>Virmanom<br /><i>Ovaj način plaćanja se odnosi na pravna lica i znači plaćanje preko računa.</i></li>
                <li>Uplatnicom<br /><i>Uplata na račun se može izvršiti standardnom uplatnicom u bilo kojoj pošti ili banci.</i></li>
            </ul>
        </div>
    </div>
</div>