<style>
    .wrapper {
        max-width: 1100px;
        margin: 50px auto;
    }

    .margin-y-20 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

@{
    ViewData["Title"] = "Najčešća pitanja";
}

<div class="wrapper">
    <div class="segment-1 margin-y-20">
        <h2>Najčešća pitanja</h2>
    </div>
    <div class="segment-1">
        <h4>Da li vršite dostavu?</h4>
        <div>
            <p>Na Vaš zahtev, organizujemo dostavu na željenu adresu (dostava se naplaćuje zavisno od lokacije, robe, vremena...)</p>
        </div>
    </div>
    <div class="segment-1">
        <h4>Da li ostvarujem popust kupovinom preko sajta?</h4>
        <div>
            <p>Da, kupovinom preko sajta, Vi imate mogućnost da sve što Vam treba poručite, i da dobijete  popust koji se kreće od  5 do čak 17%. (Popust zavisi od vrste robe, količine, trenutne cene...).</p>
        </div>
    </div>
    <div class="segment-1">
        <h4>Kako da znam da mi je porudžbina obrađena i da je na stanju sve što je poručeno?</h4>
        <div>
            <p>Bez brige, kada obradimo Vašu porudžbenicu, javićemo se telefonom da dogovorimo sve detalje. Obrada će biti u roku od nekoliko sati, najviše za 24h. Kupci koji učestalo kupuju dobiće samo SMS poruku</p>
        </div>
    </div>
    <div class="segment-1">
        <h4>Da li moram lično doći po naručenu robu?</h4>
        <div>
            <p>Po naručenu robu može doći bilo koje lice koje Vi pošaljete. Naručivši preko sajta, do detalja ste precizirali šta Vam treba, koliko, od kog proizvođača...te ne dolazi ni do kakve greške prilikom preuzimanja</p>
        </div>
    </div>
    <div class="segment-1">
        <h4>Kada mogu koristiti sajt i poručivati preko njega?</h4>
        <div>
            <p>Veoma važna pogodnost online poručivanja je što ona nije vremenski ograničena, i što kod nas možete birati materjal kada god i odakle god želite, čime štedite vreme i energiju. Dosadašnje termodom iskistvo nam govori da najveći broj majstora naručuje u večernjim časovima od 20.00 do ponoći</p>
        </div>
    </div>
    <div class="segment-1">
        <h4>Da li pružate tehničku podršku ili savete za određene građevinske projekte?</h4>
        <div>
            <p>Naši prodavci su stručni, i rado će Vam odgovoriti savetom ili sugestijom oko svih Vaših pitanja. Imajte u vidu da prodavci nisu majstori, ali se za neka strogo stručna pitanja možete obratiti našoj tehničkoj podršci - 064 108 39 32 </p>
        </div>
    </div>
</div>