<style>
    .wrapper {
        max-width: 1100px;
        margin: 50px auto;
    }

    .margin-y-20 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>
@{
    ViewData["Title"] = "Reklamacije";
}

<div class="wrapper">
    <div class="segment-1 margin-y-20">
        <h2>Reklamacije</h2>
    </div>
    <div class="segment-1">
        <p>
            Poštovani potrošači,
            <br /><br />Pošto razumemo potrebu da se pre kupovine sve pogleda i proveri, asortiman je transparentan, izložen i Vama na raspolaganju da se lično uverite u njegov kvalitet.
            <br />Isto je i sa poručivanjem preko sajta, celokupnu porudžbinu možete proveriti pre preuzimanja. Važno nam je da profesionalno odgovorimo na svaku Vašu potrebu, i da zadovoljstvo saradnjom bude obostrano. Iz tih razloga nudimo i garantujemo kvalitet i ispravnost naše robe i usluga.
            <br /><br />Ukoliko se nekada javi potreba za reklamacijom, kontaktirajte nas, a mi ćemo u što kraćem roku pokušati da odgovorimo na Vaše zahteve. U tom slučaju, morate imati račun, i greška ne može biti učinjena od strane kupca.
            <br /><br />U ponudi imamo i oštećenu robu, koja je jasno izdvojena i naznačena. Takav materijal je takođe dostupan, i pre kupovine se može pogledati i utvrditi stanje i stepen oštećenja. Ova kategorija proizvoda ne podleže reklamaciji.
            <br /><br />Važno nam je da znate da ne vršimo zamenu kupljene robe, niti vraćamo novac za istu, te je jako važno da se prilikom kupovine uverite da ste uzeli robu koja Vam treba. Na taj način će se stvoriti win-win situacija u kojoj ćemo mi biti zadovoljni našom zaradom, a Vi zadovoljni kupljenom robom.
        </p>
    </div>
</div>