<style>
    .wrapper {
        max-width: 1100px;
        margin: 50px auto;
    }

    .margin-y-20 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>
@{
    ViewData["Title"] = "Uputstvo za kupovinu";
}

<div class="wrapper">
    <div class="segment-1 margin-y-20">
        <h2>Kako funkcioniše kupovina i poručivanje preko sajta termodom.rs</h2>
    </div>
    <div class="segment-1">
        <h4>Izbor proizvoda</h4>
        <div>
            <ul>
                <li>Pogledajte proizvode na početnoj stranici sa slikama i opisima</li>
                <li>Oznake kategorija će Vam pomoći da pronađete potrebne artikle</li>
                <li>Koristite lupicu za precizno traženje</li>
                <li>Opcija "omiljeno" omogućava da proizvode koji Vama najčešće trebaju lako pronađete. Termodom sajt će analizirati Vašu kupovinu i automatski će u grupu omiljenih ubaciti proizvode koje inače kupujete.</li>
            </ul>
        </div>
    </div>
    <div class="segment-1">
        <h4>Dodavanje u korpu</h4>
        <div>
            <ul>
                <li>Kada pronađete željeni proizvod, dodajte ga u korpu</li>
                <li>Odaberite tačnu jedinicu mere</li>
                <li>Ukoliko želite još neki proizvod, idite na opciju "nastavi sa kupovinom"</li>
            </ul>
        </div>
    </div>
    <div class="segment-1">
        <h4>Pregled korpe i cene</h4>
        <div>
            <ul>
                <li>Termodom sajt imitira stručnog, veštog i uvek raspoloženog trgovca. Dinamički pravi cene za Vas</li>
                <li>Kako koji proizvod ubacujete ili izbacujete iz korpe, cena Vaše porudžbine se menja. Kada završite sa porudžbinom i ubacivanjem poslednjeg
                    proizvoda u korpu, termodom sajt će ponovo proći od prvog do poslednjeg proizvoda Vaše korpe i iznova će Vam odobriti najbolji popust po svakom proizvodu
                    pojedinačno. Što je vrednost korpe veća, popusti na svim proizvodima korpe će biti veći.
                </li>
            </ul>
        </div>
    </div>
    <div class="segment-1">
        <h4>Naručivanje</h4>
        <div>
            <ul>
                <li>Kada odaberete materijal, birate način plaćanja i lokaciju gde dolazite po materijal (poslujemo u više od 10 gradova Srbije) ili se odlučite za našu dostavu</li>
                <li>Potvrđujete Vašu porudžbinu, ostavljate broj telefona, a mi Vas za najkasnije 24h zovemo da se dogovorimo oko svih detalja</li>
            </ul>
        </div>
    </div>
</div>