<style>
    .wrapper {
        max-width: 1100px;
        margin: 50px auto;
        margin-top: 20vh;
        margin-bottom: 20vh;
    }
</style>

@{
    ViewData["Title"] = "Veleprodaja";
}

<div class="wrapper">
    <h1>Veleprodaja</h1>
    <div class="segment-1">
        <p>
            Poštovani kupci, partneri, prijatelji <br />
            Odgovarajući na Vaše želje i standarde, proširili smo asortiman, dodatno edukovali prodavce, 
            otvorili stovarišta u više gradova Srbije i postali neizostavan deo svakog doma ili poslovnog prostora. <br />
            Dokazali smo kvalitet, pouzdanost i profesionalnost, što ukazuje da smo poželjan i cenjen partner.
            Budite slobodni da nam se javite radi dodatnih informacija o veleprodajnoj kupovini. Pišite nam na mail 
            <a href="mailto:info@termodom.rs">info@Termodom.rs</a> ili nas pozovite na broj telefona 069/88-015-01 061/88-015-27 <br />
            Očekujemo Vaše upite o sradnji.
        </p>
    </div>
</div>