@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    padding: 0;
    margin: 0;
}

.bg-td-red {
    background-color: #ff5b5b;
}

.bg-td-blue {
    background-color: #007bff;
}