.innerWrapper {
    max-width: 1100px;
    margin: auto;
    padding: 10px;
}

.listaRobeWrapper .item {
    padding: 5px;
}

.listaRobeWrapper .item:nth-child(2n + 1) {
    background-color: #eee;
}

.listaRobeWrapper .item span {
    padding: 0 5px;
}

.listaRobeWrapper .item a {
    float: right;
    background-color: rgb(var(--blue-hover));
    color: whitesmoke;
    font-weight: 600;
    border-radius: 5px;
    padding: 2px 10px;
}

.listaRobeWrapper .item a:hover {
    background-color: rgb(var(--main-color));

}