.mainWrapper {
    max-width: 1100px;
    margin: auto;
    padding: 10px;
}

.mainWrapper button {
    margin-left: 5px;
}

.mainWrapper div {
    margin: 5px;
}

.grupaHeaderWrapper {
    display: inline-block;
    width: 100%;
}

.grupaHeaderWrapper h3 {
    float: left;
    margin: 0;
}