name: Release office public FE applications

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
        
jobs:
  build-and-push-office-public-fe:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/office/public-fe/build-and-push-images/office-public-fe-build-and-push-image.yml@master
    secrets: inherit
    with:
      env: ${{ inputs.env }}
  
  deploy-office-public-fe:
    needs: [ build-and-push-office-public-fe ]
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/office/public-fe/deploy/office-public-fe-deploy.yml@master
    secrets: inherit
    with:
      env: ${{ inputs.env }}
  
  office-public-fe-apply-ingress:
    needs: [ deploy-office-public-fe ]
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/office/public-fe/apply-ingress/office-public-fe-apply-ingress.yml@master
    secrets: inherit
    with:
      env: ${{ inputs.env }}