name: Release cron jobs applications

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string

jobs:
  orders-status-check-cron:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/crons/orders-status-check-cron/release-orders-status-check-cron.yml@master
    secrets: inherit
    with:
      env: ${{ inputs.env }}
