#Naslov {
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}

#Tekst {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
}

.image-selector {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}