@model string

@{
    ViewData["Title"] = "Moje porudzbine";
}

<style>
    .moje-porudzbine-wrapper {
        max-width: 1100px;
        margin: auto;
    }

        .moje-porudzbine-wrapper .content {
            display: inline-block;
            width: 100%;
            margin: 0;
        }

            .moje-porudzbine-wrapper .content .porudzbina-wrapper {
                padding: 0 5px;
            }

        .moje-porudzbine-wrapper .porudzbina {
            display: block;
            border: 1px solid black;
            padding: 5px;
            color: black;
            background-color: #bdbdbd;
            width: 25%;
            float: left;
        }

            .moje-porudzbine-wrapper .porudzbina:hover {
                cursor: pointer;
                box-shadow: inset 0 0 100em 100em rgba(0, 0, 0, 0.1);
                text-decoration: none;
            }

            .moje-porudzbine-wrapper .porudzbina .iznos {
                color: green;
            }

            .moje-porudzbine-wrapper .porudzbina[data-status='1'] {
                background-color: orange;
            }

            .moje-porudzbine-wrapper .porudzbina[data-status='0'] {
                background-color: yellow;
            }

            .moje-porudzbine-wrapper .porudzbina[data-status='3'] {
                background-color: pink;
            }

            .moje-porudzbine-wrapper .porudzbina[data-status='2'] {
                background-color: green;
            }

            .moje-porudzbine-wrapper .porudzbina .broj, .moje-porudzbine-wrapper .porudzbina .vreme, .moje-porudzbine-wrapper .porudzbina .referent, .moje-porudzbine-wrapper .porudzbina .iznos {
                overflow: hidden;
                white-space: nowrap;
                height: 22px;
            }
</style>

<div class="moje-porudzbine-wrapper">
    <div class="content">
        <div style="text-align: center">
            <img src="~/assets/loading-horizontal-gif.gif" style="height: 60px; margin: 50px 10px" />
        </div>
    </div>
    <script>
        LoadPorudzbine();

        function LoadPorudzbine() {

            var mobilni = "@Html.Raw(Model)";

            $.ajax({
                method: "GET",
                url: "/p/Porudzbina/Get/PronadjiPrekoMobilnog",
                data: {
                    "mobilni": mobilni
                },
                success: function (data) {
                    $(".moje-porudzbine-wrapper .content").html(data);
                }
            })
        }
    </script>
</div>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
