.korpa-wrapper {
    max-width: 1100px;
    margin: auto;
}

.korpa-wrapper .akcioni-bar {
    margin-top: 20px;
}

    .korpa-wrapper .akcioni-bar a {
        display: inline-block;
        background-color: #5383f4;
        color: white;
        border-radius: 5px;
        padding: 5px 15px;
        margin: 5px 0;
        font-family: GothamProMedium;
        transition-duration: 0.2s;
    }

    .korpa-wrapper .akcioni-bar a:hover {
        text-decoration: none;
        cursor: pointer;
        box-shadow: inset 100em 100em rgba(0, 0, 0, 0.2);
    }

    .korpa-wrapper .stavke {
        width: 100%;
        margin-top: 30px;
        padding: 5px;
    }

        .korpa-wrapper .stavke .stavke-header {
            font-family: GothamProMedium;
            border-bottom: 1px solid black;
        }

    .korpa-proizvod {
        border-bottom: 1px solid black;
        padding: 5px;
    }

    .korpa-proizvod .naziv {
        font-family: GothamProMedium;
        font-size: 1.2em;
    }

    .mobilni-helper {
        display: none;
        color: gray;
    }

    .korpa-wrapper .obracun {
        display: inline-block;
        width: 100%;
        padding: 20px 0;
        color: rgb(180, 180, 180);
        text-align: right;
    }

        .korpa-wrapper .obracun h3:last-of-type {
            color: #8bc34a;
            font-family: GothamProBold;
        }

    .korpa-wrapper .obracun .inner {
        float: right;
    }

    .korpa-wrapper select {
        padding: 5px 15px;
        border-radius: 5px;
        max-width: calc(100% - 30px);
    }

        .mesto-preuzimanja, .adresa-isporuke, .napomena, .nacin-placanja, .cene-odricanje-odgovornosti, .grad {
            margin-top: 20px;
        }

.zakljuci-porudzbinu-btn {
    display: block;
    margin: 20px auto;
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.izmena-kolicine-tooltip-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    width: 100%;
    z-index: 99999999;
    display: none;
}

.izmena-kolicine-tooltip-wrapper .top {
    text-align: center;
    font-family: GothamProMedium;
    margin-top: 10px;
    margin-bottom: 20px;
}

.izmena-kolicine-tooltip-wrapper-back {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.izmena-kolicine-tooltip-wrapper-front {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50vh;
    left: 50vw;
    max-width: 500px;
    width: 80vw;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px black;
}


.izmena-kolicine-tooltip-wrapper .kolicina {
    width: 48%;
    margin: 1%;
    float: left;
    overflow: hidden;
}

    .izmena-kolicine-tooltip-wrapper .kolicina .jedinica-mere {
        text-align: center;
        background-color: #eb5050;
        border-radius: 10px 10px 0 0;
        color: whitesmoke;
        font-family: GothamProBold;
        padding: 5px 0;
    }


    .izmena-kolicine-tooltip-wrapper .kolicina .custom-nud {
        display: inline-block;
        width: 100%;
        height: 100px;
        background-color: white;
    }

        .izmena-kolicine-tooltip-wrapper .kolicina .custom-nud input {
            width: 80%;
            height: 100%;
            text-align: center;
            float: left;
            font-family: GothamProMedium;
            font-size: 26px;
        }

        .izmena-kolicine-tooltip-wrapper .kolicina .custom-nud .plus-minus {
            width: 20%;
            float: left;
            text-align: center;
        }

            .izmena-kolicine-tooltip-wrapper .kolicina .custom-nud .plus-minus div {
                height: 50px;
                overflow: hidden;
                font-family: GothamProMedium;
                border: 1px solid gray;
                transition-duration: 0.1s;
            }

            .izmena-kolicine-tooltip-wrapper .kolicina .custom-nud .plus-minus div:hover {
                cursor: pointer;
                background-color: #eb5050;
            }

.izmena-kolicine-tooltip-wrapper .korpa-funkcije .dodaj-u-korpu {
    background-color: #eb5050;
    padding: 10px;
    width: 100%;
    display: block;
    color: white;
    font-family: GothamProMedium;
    margin: 10px 0;
}

.izmena-kolicine-tooltip-wrapper .row hr {
    display: block;
    margin: 30px 0;
}

.izmena-kolicine-tooltip-wrapper .kolicina .custom-nud .plus-minus span {
    display: block;
    margin-top: 10px;
}

.izmena-kolicine-tooltip-wrapper .izmena-kolicine-btns .row {
    width: 100%;
    margin: 0;
}

.izmena-kolicine-tooltip-wrapper .izmena-kolicine-btns button {
    width: 100%;
    color: white;
    padding: 5px;
    transition-duration: 0.1s;
}

.izmena-kolicine-tooltip-wrapper .izmena-kolicine-btns button:hover {
    cursor: pointer;
    filter: contrast(0.8);
}

.izmena-kolicine-tooltip-wrapper .izmena-kolicine-btns .ik-sacuvaj {
    background-color: #8bc34a;
}

.izmena-kolicine-tooltip-wrapper .izmena-kolicine-btns .ik-odbaci {
    background-color: #ef5350;
}

.korpa-wrapper .obracun .ob {
    color: rgb(51, 51, 51);
}

.korpa-wrapper .Error {
    text-align: center;
    color: red;
    font-size: 18px;
    font-family: 'GothamProMedium';
}

.korpa-wrapper .work-animation-wrapper {
    position: relative;
    width: 100%;
    display: none;
}

    .korpa-wrapper .work-animation-wrapper span {
        height: 20px;
        width: 20px;
        background-color: #03a9f4;
        display: inline-block;
        margin: 5px;
        border-radius: 50%;
        animation: korpa-animation;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        overflow: hidden;
    }

    .korpa-wrapper .zakljuci-porudzbinu-animation {
        text-align: center;
        display: none;
    }

        .korpa-wrapper .zakljuci-porudzbinu-animation img {
            height: 48px;
        }

        .korpa-wrapper .izmena-kolicine-status-label {
            text-align: center;
            font-family: GothamProMedium;
            display: none;
        }

    @keyframes korpa-animation {
        0% {
            margin-left: 0;
            transform: translateX(0);
            background-color: green;
        }
        50% {
            margin-left: 100%;
            transform: translateX(-100%);
            background-color: #03a9f4;
        }
        100% {
            margin-left: 0;
            transform: translateX(0);
            background-color: green;
        }
    }

@media only screen and (max-width: 768px) {
    
    .korpa-wrapper .stavke .stavke-header {
        display: none;
    }

    .korpa-wrapper .stavke {
        border-top: 1px solid black;
    }

    .mobilni-helper {
        display: initial;
    }
}