.kontrolna-tabla-wrapper {
    max-width: 1100px;
    margin: auto;
    padding: 30px 10px;
}

.kontrolna-tabla-wrapper .skorasnje-porudzbine-wrapper {
    display: inline-block;
    width: 100%;
    margin: 0;
}

.skorasnje-porudzbine-wrapper .zaglavlje {
    margin: 10px 0;
}

.skorasnje-porudzbine-wrapper .zaglavlje img {
    height: 50px;
}

.skorasnje-porudzbine .porudzbina-wrapper {
    padding: 0 5px;
}

.skorasnje-porudzbine .porudzbina {
    display: block;
    border: 1px solid black;
    padding: 5px;
    color: black;
    background-color: #bdbdbd;
    width: 25%;
    float: left;
}

.skorasnje-porudzbine .porudzbina:hover {
    cursor: pointer;
    box-shadow: inset 0 0 100em 100em rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

    .skorasnje-porudzbine .porudzbina .iznos {
        color: green;
    }

    .skorasnje-porudzbine .porudzbina[data-status='1'] {
        background-color: orange;
    }

    .skorasnje-porudzbine .porudzbina[data-status='0'] {
        background-color: yellow;
    }

    .skorasnje-porudzbine .porudzbina[data-status='3'] {
        background-color: pink;
    }

    .skorasnje-porudzbine .porudzbina[data-status='2'] {
        background-color: green;
    }

    .skorasnje-porudzbine .porudzbina .broj, .skorasnje-porudzbine .porudzbina .vreme, .skorasnje-porudzbine .porudzbina .referent, .skorasnje-porudzbine .porudzbina .iznos {
        overflow: hidden;
        white-space: nowrap;
        height: 22px;
    }

.saobracaj {
    background-color: #75b7ff;
    display: none;
    border: 2px solid #007bff;
    padding: 10px;
    transition-duration: 0.3s;
}

    .saobracaj img {
        height: 50px;
    }

.uskoro-rodjendani {
    margin-top: 30px;
    background-color: white;
    display: none;
    border: 2px solid #007bff;
    padding: 10px;
    transition-duration: 0.3s;
}

    .uskoro-rodjendani img {
        height: 50px;
    }

    .uskoro-rodjendani .slavljenik {
        margin: 5px;
        display: block;
    }

        .uskoro-rodjendani .slavljenik[data-poslat-sms=True] a {
            color: gray;
        }

.slavljenik[data-poslat-sms='true'] a {
    color: gray;
}

@media only screen and (max-width: 600px) {
    .skorasnje-porudzbine .porudzbina {
        width: 100%;
        text-align: center;
    }
}