name: Build and push termodom-office-public-fe application docker image, then start deploying action

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
    
jobs:
  build-and-push-termodom-office-public-fe:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Build docker image
      run: docker build --file src/TD.Office/TD.Office.Public/TD.Office.Public.Fe/Dockerfile --build-arg="DEPLOY_ENV=${{ inputs.env }}" -t limitlesssoft/termodom-office-public-fe:${{ inputs.env }} .

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: https://index.docker.io/v1/
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}

    - name: Push docker image
      run: docker push limitlesssoft/termodom-office-public-fe:${{ inputs.env }}
      
  deploy:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/deploy-termodom-office-public-fe.yml@master
    needs: [ build-and-push-termodom-office-public-fe ]
    secrets: inherit
    with:
      env: ${{ inputs.env }}
