name: Build and push termodom-web-public-inactive-users-checkup-cron-job cron job docker image, then start deploying action

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string

jobs:
  build-and-push-termodom-web-public-inactive-users-checkup-cron-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build docker image
        run: docker build --file src/TD.Cron/TD.Cron.WebPublicInactiveUsersCheckup.CronJob/Dockerfile -t limitlesssoft/termodom-web-public-inactive-users-checkup-cron-job:${{ inputs.env }} .

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: https://index.docker.io/v1/
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Push docker image
        run: docker push limitlesssoft/termodom-web-public-inactive-users-checkup-cron-job:${{ inputs.env }}
  
  deploy:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/deploy-termodom-web-public-inactive-users-checkup-cron-job.yml@develop
    needs: [ build-and-push-termodom-web-public-inactive-users-checkup-cron-job ]
    secrets: inherit
    with:
      env: ${{ inputs.env }}
