name: Deploy web public api image

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.env }}
    steps:
      - uses: actions/checkout@v3

      - name: Set K8s context
        uses: ossrs/k8s-set-context-action@v1
        with:
          kubeconfig: '${{ secrets.KUBE_CONFIG_PURE }}'
          
      - name: Import Secrets
        uses: hashicorp/vault-action@v2
        with:
          url: ${{ secrets.VAULT_URI }}
          method: userpass
          username: ${{ secrets.VAULT_USERNAME }}
          password: ${{ secrets.VAULT_PASSWORD }}
          secrets: |
            ${{ inputs.env }}/data/web/public/api POD_REQUEST_CPU | POD_REQUEST_CPU ;
            ${{ inputs.env }}/data/web/public/api POD_REQUEST_MEMORY | POD_REQUEST_MEMORY ;

      - name: Deploy termodom-web-public-api application
        run: |-
          export DEPLOY_ENV=${{ inputs.env }}
          export VAULT_URI=${{ secrets.VAULT_URI }}
          export VAULT_USERNAME=${{ secrets.VAULT_USERNAME }}
          export VAULT_PASSWORD=${{ secrets.VAULT_PASSWORD }}
          export VAULT_ENGINE=${{ vars.VAULT_ENGINE }}
          export VAULT_PATH_WEB_PUBLIC_API=${{ vars.VAULT_PATH_WEB_PUBLIC_API }}
          export REQUEST_MEMORY=${{ env.POD_REQUEST_MEMORY }}
          export REQUEST_CPU=${{ env.POD_REQUEST_CPU }}
          
          envsubst < k8s/services/termodom-web-public-api-service.yaml | kubectl apply -f -
          envsubst < k8s/deployments/termodom-web-public-api-deployment.yaml | kubectl apply -f -
          kubectl rollout restart -n termodom-namespace deployment ${{ inputs.env }}-web-public-api-deployment