name: Deploy termodom-web-public-fe application to cluster
on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
jobs:
  apply-resources:
    runs-on: ubuntu-latest
    environment: ${{ inputs.env }}
    steps:
    - uses: actions/checkout@v3

    - name: Set K8s context
      uses: ossrs/k8s-set-context-action@v1
      with:
        kubeconfig: '${{ secrets.KUBE_CONFIG_PURE }}'
    - name: Deploy termodom-web-public-fe application
      run: |-
        export DEPLOY_ENV=stage
        envsubst < k8s/services/termodom-public-fe-service.yaml | kubectl apply -f -
        envsubst < k8s/deployments/termodom-public-fe-deployment.yaml | kubectl apply -f -
        envsubst < k8s/ingress/termodom-public-fe-ingress.yaml | kubectl apply -f -
