name: Release

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
    
jobs:
  release-web:
    if: ${{ inputs.env == 'production' }}
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/release-web.yml@master
    secrets: inherit
    with:
      env: ${{ inputs.env }}
      
  release-office:
    if: ${{ inputs.env == 'production' }}
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/release-office.yml@master
    secrets: inherit
    with:
      env: ${{ inputs.env }}
      
  release-order-status-check-cron:
    if: ${{ inputs.env == 'production' }}
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/release-order-status-check-cron.yml@master
    secrets: inherit
    with:
      env: ${{ inputs.env }}
      
  release-danas-update-cron:
    if: ${{ inputs.env == 'production' }}
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/release-danas-update-cron.yml@master
    secrets: inherit
    with:
      env: ${{ inputs.env }}
  
  release-komercijalno-proveri-cene-u-magacinima-cron-job:
    if: ${{ inputs.env == 'production' }}
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/release-komercijalno-proveri-cene-u-magacinima-cron-job.yml@master
    secrets: inherit
    with:
      env: ${{ inputs.env }}
      
  release-quizz-fe:
    if: ${{ inputs.env == 'production' }}
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/release-quizz-fe.yml@master
    secrets: inherit
    with:
      env: ${{ inputs.env }}

#  release-trace-logs-api:
#    uses: limitlesssoft/termodom--ecosystem/.github/workflows/release-trace-logs-api.yml@master
#    secrets: inherit
#    with:
#      env: ${{ inputs.env }}