name: Release applications

on:
  workflow_dispatch:
  push:
    branches: [ "master", "develop", "stage" ]
    
jobs:
  web:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/web/release-web.yml@master
    secrets: inherit
    with:
      env: ${{ contains(github.event.ref, 'master') && 'production' || contains(github.event.ref, 'develop') && 'develop' || contains(github.event.ref, 'stage') && 'stage' || throw('Unknown environment') }}
      
  admin:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/release-admin.yml@master
    secrets: inherit
    with:
        env: ${{ contains(github.event.ref, 'master') && 'production' || contains(github.event.ref, 'develop') && 'develop' || contains(github.event.ref, 'stage') && 'stage' || throw('Unknown environment') }}
        
  office:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/release-office.yml@master
    secrets: inherit
    with:
        env: ${{ contains(github.event.ref, 'master') && 'production' || contains(github.event.ref, 'develop') && 'develop' || contains(github.event.ref, 'stage') && 'stage' || throw('Unknown environment') }}
        
  crons:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/crons/release-crons.yml@master
    secrets: inherit
    with:
        env: ${{ contains(github.event.ref, 'master') && 'production' || contains(github.event.ref, 'develop') && 'develop' || contains(github.event.ref, 'stage') && 'stage' || throw('Unknown environment') }}