name: Release develop termodom-web

on:
  workflow_dispatch:
  push:
    branches: [ "develop" ]
    
jobs:
  public-api:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/build-and-push-termodom-web-public-api.yml@develop
    secrets: inherit
    with:
      env: develop

  public-fe:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/build-and-push-termodom-web-public-fe.yml@develop
    secrets: inherit
    with:
      env: develop

  admin-api:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/build-and-push-termodom-web-admin-api.yml@develop
    secrets: inherit
    with:
      env: develop

  admin-fe:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/build-and-push-termodom-web-admin-fe.yml@develop
    secrets: inherit
    with:
      env: develop

  office-api:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/build-and-push-termodom-office-public-api.yml@develop
    secrets: inherit
    with:
      env: develop

  office-fe:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/build-and-push-termodom-office-public-fe.yml@develop
    secrets: inherit
    with:
      env: develop
      
  run-selenium-tests-develop-web-public:
    needs: [ public-fe, public-api ]
    timeout-minutes: 1
    runs-on: ubuntu-latest

    container:
      image: node:22

    services:
      selenium:
        image: selenium/standalone-firefox
        options: --shm-size=4gb

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3

      - name: run tests
        run: |-
          cd src/TD.Web/TD.Web.Public/TD.Web.Public.Fe.Tests.Ui
          npm i
          export PROJECT_URL=https://develop.termodom.rs/
          export ENV=github-action
          export BROWSER=firefox
          npm run test
