name: Release stage termodom-web-admin

on:
  workflow_dispatch:
  # push:
  #   branches: [ "stage" ]
    
jobs:
  public-api:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/build-and-push-termodom-web-admin-api.yml@stage
    secrets: inherit
    with:
      env: stage
      request_memory: 512Mi
      request_cpu: 250m

  public-fe:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/build-and-push-termodom-web-admin-fe.yml@stage
    secrets: inherit
    with:
      env: stage

  admin-api:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/build-and-push-termodom-web-public-api.yml@stage
    secrets: inherit
    with:
      env: stage

  admin-fe:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/build-and-push-termodom-web-public-fe.yml@stage
    secrets: inherit
    with:
      env: stage

  office-api:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/build-and-push-termodom-office-public-api.yml@stage
    secrets: inherit
    with:
      env: stage

  office-fe:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/build-and-push-termodom-office-public-fe.yml@stage
    secrets: inherit
    with:
      env: stage
