name: Entry point

on:
  workflow_dispatch:
  push:
    branches: [ "develop" ]

jobs:
  Release:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/release.yml@develop
    secrets: inherit
    with:
      env: develop