name: Release web applications

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
        
jobs:
  release-web-public-api:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/release-web-public-be.yml@develop
    secrets: inherit
    with:
      env: ${{ inputs.env }}
      
  release-web-public-fe:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/release-web-public-fe.yml@develop
    secrets: inherit
    with:
      env: ${{ inputs.env }}