name: Release web public api application

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string

jobs:
  build-and-push-image:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/build-and-push-web-public-api-image.yml@develop
    with:
      env: ${{ inputs.env }}

  deploy:
    needs: [build-and-push-image]
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/deploy-web-public-api.yml@develop
    with:
      env: ${{ inputs.env }}
      
  setup-ingress:
    needs: [deploy]
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/setup-ingress-web-public-api.yml@develop
    with:
      env: ${{ inputs.env }}  