name: Release production termodom-web-admin

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
    
jobs:
  test-public-fe-firefox:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/test-public-fe.yml@master
    with:
      project_url: https://develop.termodom.rs
      browser: firefox
      
  test-public-fe-chrome:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/test-public-fe.yml@master
    with:
      project_url: https://develop.termodom.rs
      browser: chrome
  
  public-api:
    needs: [ test-public-fe-firefox, test-public-fe-chrome ]
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/build-and-push-termodom-web-public-api.yml@master
    secrets: inherit
    with:
      env: production
      request_memory: 1024Mi
      request_cpu: 500m

  public-fe:
    needs: [ test-public-fe-firefox, test-public-fe-chrome ]
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/build-and-push-termodom-web-admin-fe.yml@master
    secrets: inherit
    with:
      env: production

  admin-api:
    needs: [ test-public-fe-firefox, test-public-fe-chrome ]
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/build-and-push-termodom-web-admin-api.yml@master
    secrets: inherit
    with:
      env: production

  admin-fe:
    needs: [ test-public-fe-firefox, test-public-fe-chrome ]
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/build-and-push-termodom-web-public-fe.yml@master
    secrets: inherit
    with:
      env: production

  office-api:
    needs: [ test-public-fe-firefox, test-public-fe-chrome ]
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/build-and-push-termodom-office-public-api.yml@master
    secrets: inherit
    with:
      env: production

  office-fe:
    needs: [ test-public-fe-firefox, test-public-fe-chrome ]
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/build-and-push-termodom-office-public-fe.yml@master
    secrets: inherit
    with:
      env: production

  realized-orders-cron-job:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/build-and-push-termodom-order-status-check-cron.yml@master
    secrets: inherit
    with:
      env: production
