name: Release

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
    
jobs:
  release-web-public:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/release-web.yml@develop
    secrets: inherit
    with:
      env: ${{ inputs.env }}