name: Release quizz fe

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string

jobs:
  build-and-push-image:
    name: Build and push Quizz Fe image
    runs-on: ubuntu-latest
    environment: ${{ inputs.env }}
    steps:
      - uses: actions/checkout@v3

      - name: Build Quizz Fe docker image
        run: docker build --file src/TD.Quizz/TD.Quizz.Fe/Dockerfile --build-arg="NEXTAUTH_SECRET=${{ secrets.QUIZZ_NEXTAUTH_SECRET }}" --build-arg="SUPERBASE_KEY=${{secrets.QUIZZ_SUPERBASE_KEY}}" --build-arg="SUPERBASE_URL=${{secrets.QUIZZ_SUPERBASE_URL}}" --build-arg="SUPERBASE_SCHEMA=${{secrets.QUIZZ_SUPERBASE_SCHEMA}}" -t limitlesssoft/termodom-quizz-fe:${{ inputs.env }} .

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: https://index.docker.io/v1/
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Push Quizz Fe docker image
        run: docker push limitlesssoft/termodom-quizz-fe:${{ inputs.env }}

  deploy:
    needs: [build-and-push-image]
    name: Deploy Quizz Fe application
    runs-on: ubuntu-latest
    environment: ${{ inputs.env }}
    steps:
      - uses: actions/checkout@v3

      - name: Set K8s context
        uses: ossrs/k8s-set-context-action@v1
        with:
          kubeconfig: '${{ secrets.KUBE_CONFIG_PURE }}'

      - name: Deploy  Quizz Fe application
        run: |-
          export DEPLOY_ENV=${{ inputs.env }}
          export NEXTAUTH_SECRET=${{ secrets.QUIZZ_NEXTAUTH_SECRET }}
          export SUPERBASE_KEY=${{ secrets.QUIZZ_SUPERBASE_KEY }}
          export SUPERBASE_URL=${{ secrets.QUIZZ_SUPERBASE_URL }}
          export SUPERBASE_SCHEMA=${{ secrets.QUIZZ_SUPERBASE_SCHEMA }}
          envsubst < k8s/services/quizz-fe-service.yaml | kubectl apply -f -
          envsubst < k8s/deployments/quizz-fe-deployment.yaml | kubectl apply -f -
          kubectl rollout restart -n termodom-namespace deployment ${{ inputs.env }}-quizz-fe-deployment
  
  setup-ingress:
    needs: [deploy]
    name: Setup Quizz Fe ingress
    runs-on: ubuntu-latest
    environment: ${{ inputs.env }}
    steps:
      - uses: actions/checkout@v3

      - name: Set K8s context
        uses: ossrs/k8s-set-context-action@v1
        with:
          kubeconfig: '${{ secrets.KUBE_CONFIG_PURE }}'

      - name: Setup Quizz Fe ingress
        run: |-
          export DEPLOY_ENV=${{ inputs.env }}
          envsubst < k8s/ingress/quizz-fe-ingress.yaml | kubectl apply -f -
          envsubst < k8s/ingress/root/quizz-fe-ingress.yaml | kubectl apply -f -