name: Release danas update cron

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string

jobs:
  build-and-push-image:
    name: Build and push danas update cron
    runs-on: ubuntu-latest
    environment: ${{ inputs.env }}
    steps:
      - uses: actions/checkout@v3

      - name: Build docker image
        run: docker build --file src/TD.Cron/TD.Cron.KomercijalnoDanasUpdate.CronJob/Dockerfile -t limitlesssoft/termodom-parametri-danas-update-cron-job:${{ inputs.env }} .

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: https://index.docker.io/v1/
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Push docker image
        run: docker push limitlesssoft/termodom-parametri-danas-update-cron-job:${{ inputs.env }}
        
  deploy:
    needs: [build-and-push-image]
    name: Deploy danas update cron
    runs-on: ubuntu-latest
    environment: ${{ inputs.env }}
    steps:
      - uses: actions/checkout@v3

      - name: Set K8s context
        uses: ossrs/k8s-set-context-action@v1
        with:
          kubeconfig: '${{ secrets.KUBE_CONFIG_PURE }}'
          
      - name: Deploy termodom-office-public-api application
        run: |-
          export DEPLOY_ENV=${{ inputs.env }}
          envsubst < k8s/cronjobs/parametri-danas-update-cron-job.yaml | kubectl apply -f -