name: Test implementation code

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - develop

jobs:
  uat-web-public:
    uses: limitlesssoft/termodom--ecosystem/.github/workflows/test-public-fe.yml@feature/tests-stage
    secrets: inherit
    with:
      browser: chrome