name: test-office-public-fe

on:
    workflow_call:
        inputs:
            browser:
                required: true
                type: string

jobs:
    build-and-publish-be:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Build docker image
              run: docker build --file src/TD.Office/TD.Office.Public/TD.Office.Public.Api/Dockerfile -t limitlesssoft/termodom-office-public-api:${{github.run_id}} .

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: https://index.docker.io/v1/
                  username: ${{ secrets.DOCKER_HUB_USERNAME }}
                  password: ${{ secrets.DOCKER_HUB_PASSWORD }}

            - name: Push docker image
              run: docker push limitlesssoft/termodom-office-public-api:${{github.run_id}}

    build-and-publish-fe:
        runs-on: ubuntu-latest
        environment: develop
        steps:
            - uses: actions/checkout@v3

            - name: Build docker image
              run: docker build --file src/TD.Office/TD.Office.Public/TD.Office.Public.Fe/Dockerfile --build-arg="DEPLOY_ENV=develop" --build-arg="OVERRIDE_DEPLOY_ENV=http://office-public-be:8080" -t limitlesssoft/termodom-office-public-fe:${{github.run_id}} .

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: https://index.docker.io/v1/
                  username: ${{ secrets.DOCKER_HUB_USERNAME }}
                  password: ${{ secrets.DOCKER_HUB_PASSWORD }}

            - name: Push docker image
              run: docker push limitlesssoft/termodom-office-public-fe:${{github.run_id}}

    run-uat-tests-office-public:
        needs: [build-and-publish-be, build-and-publish-fe]
        timeout-minutes: 10
        runs-on: ubuntu-latest

        container:
            image: node:22

        services:
            fe:
                image: limitlesssoft/termodom-office-public-fe:${{github.run_id}}
                options: --shm-size=2gb
                credentials:
                    username: ${{ secrets.DOCKER_HUB_USERNAME }}
                    password: ${{ secrets.DOCKER_HUB_PASSWORD }}
            be:
                image: limitlesssoft/termodom-office-public-api:${{github.run_id}}
                options: --shm-size=2gb
                credentials:
                    username: ${{ secrets.DOCKER_HUB_USERNAME }}
                    password: ${{ secrets.DOCKER_HUB_PASSWORD }}
            selenium:
                image: selenium/standalone-${{ inputs.browser }}
                options: --shm-size=2gb
                credentials:
                    username: ${{ secrets.DOCKER_HUB_USERNAME }}
                    password: ${{ secrets.DOCKER_HUB_PASSWORD }}

        steps:
            - uses: actions/checkout@v3

            - uses: actions/setup-node@v3

            - name: run tests
              run: |-
                  cd src/TD.Office/TD.Office.Public/TD.Office.Public.Fe.UAT
                  export SELENIUM_SERVER=localhost
                  export PROJECT_URL=http://office-public-fe:3000
                  npm i
                  npm run test:dockerized-driver-${{inputs.browser}}
