name: test-public-fe

on:
  workflow_call:
    inputs:
      project_url:
        required: true
        type: string
      browser:
        required: true
        type: string

jobs:
  run-selenium-tests-develop-web-public:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    container:
      image: node:22

    services:
      selenium:
        image: selenium/standalone-firefox
        options: --shm-size=2gb

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3

      - name: run tests
        run: |-
          cd src/TD.Web/TD.Web.Public/TD.Web.Public.Fe.Tests.Ui
          export BROWSER=${{ inputs.browser }}
          export ENV=github-action
          npm i
          npm run test