.table01, .trr, .i223 {
    border: 1px solid black;
    padding: 5px;
}

.table01 {
    margin-bottom: 50px;
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
    border-collapse: collapse;
}

.i223 {
    width: 11%;
    padding: 5px;
}

.serach {
    margin-top: 30px;
    text-align: center;
}
