
#left button {
    width: 100%;
    text-align: left;
}

div.proizvod:hover {
    background-color: transparent;
    border: 2px solid orange;
    color: black;
    cursor: pointer;
}

.proizvod {
    position: relative;
    float: left;
    width: 150px;
    height: 225px;
    margin: 23px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 0px !important;
    margin-bottom: 103px;
}

    .proizvod img {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -35%);
        max-width: 100%;
        max-height: 70%;
    }

    .proizvod p {
        position: absolute;
        width: 100%;
        font-weight: bolder;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
    }

.normal {
    border: solid;
}

.proizvod1 {
    position: relative;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border-bottom: 2px solid;
    margin-bottom: 2px !important;
    margin-top: 2px !important;
}

.normal:hover {
    border: dashed;
    cursor: pointer;
}

.proizvod1 img {
    display: block;
    height: 100%;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 50px;
}

.proizvod1 .katBr {
    position: relative;
    margin: 0;
    top: 0;
    margin-left: 55px;
    background-color: transparent !important;
}

.proizvod1 .nazivProizvoda {
    position: relative;
    margin: 0;
    margin-left: 55px;
    background-color: transparent;
}

.proizvod1 .vpcena {
    bottom: 10px !important;
    margin: 0;
    text-align: right;
    background-color: transparent;
    padding-right: 55px;
}

.proizvod1 .mpcena {
    bottom: 30px !important;
    margin: 0;
    text-align: right;
    padding-right: 55px;
    background-color: transparent;
}

.proizvod1 button {
    position: absolute;
    width: 50px !important;
    left: initial !important;
    right: 0 !important;
    top: 0 !important;
    height: 50px !important;
    padding: 0 !important;
    background: transparent !important;
    z-index: 800 !important;
}

    .proizvod1 button:hover > img {
        cursor: pointer !important;
        background: #00bcd4 !important;
    }

#PodGrupe {
    position: relative;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
}

.block:hover {
    background-color: inherit !important;
    border: inherit !important;
    cursor: default !important;
}

.PodGrupa {
    width: 120px;
    height: 120px;
    text-align: center;
    float: left;
    background-color: bisque;
    margin: 5px;
}

button.PodGrupa:hover {
    color: black;
    background-color: orange;
}

button.activate {
    background-color: white;
    color: black;
    font-weight: bolder
}

.aktivnaPodgrupa {
    background-color: #FFC107;
}

.korpa {
    margin-bottom: 40px;
}

    .korpa p {
        position: absolute;
        width: 100%;
        font-weight: bolder;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .korpa button {
        position: absolute;
        bottom: -80px;
        width: 100%;
        background: linear-gradient(to bottom, white, black 20%, black 80%, white 100%);
        left: 0;
        color: white
    }

        .korpa button:hover {
            color: orange;
        }

.vpcena {
    margin: 0;
    position: absolute !important;
    bottom: -28px !important;
    font-size: large;
    background-color: transparent !important;
    color: red;
}

.mpcena {
    margin: 0;
    position: absolute !important;
    bottom: -46px !important;
    font-size: 17px;
    background-color: transparent !important;
}

#left button:hover {
    background-color: white;
    color: black;
}

#left {
    padding: 0;
}

#predloziButton {
    background-color: #8bc34a;
}

    #predloziButton:hover {
        background-color: #8bc34a !important;
        text-decoration: underline;
    }

#PredloziProizvod {
    background-color: rgba(139, 195, 74, 0.5);
}

    #PredloziProizvod input {
        margin-top: 10px;
        width: 100%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
    }

#PosaljiPredlogProizvoda {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: right !important;
    background-color: #2196f3;
}

#ObjasnjenjeCene {
    background-color: #E91E63;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 16px;
}

.katBr {
    position: absolute;
    z-index: 800;
    top: 10px;
    background-color: rgba(255, 255, 255, 0.5) !important;
    color: black;
    padding-top: 5px;
    height: 30px;
    overflow: hidden;
}

.KolicinaOnTop {
    position: fixed;
    top: 200px;
    width: 450px;
    border-radius: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336;
    text-align: center;
    color: white;
}

    .KolicinaOnTop input {
        width: 60%;
        text-align: center;
        color: black;
        font-size: x-large;
        padding: 5px;
        border-radius: 20px;
    }

    .KolicinaOnTop button {
        padding: 20px;
        background-color: white;
        color: black;
        border-radius: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

        .KolicinaOnTop button:hover {
            background-color: #5a5cd4 !important;
        }

.mask {
    background-color: black;
    width: 100%;
    height: 100vw;
    z-index: 800;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

#PretragaProizvoda {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

    #PretragaProizvoda input {
        width: 80%;
        max-width: 500px;
        min-width: 200px;
        font-size: large;
        text-align: center;
        background-color: #5a5cd4;
        border: none;
        color: white;
        font-weight: bolder;
        border-radius: 20px;
    }

        #PretragaProizvoda input::placeholder {
            color: white;
        }

#PorudzbineTable tr:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

#PorudzbineTable td {
    padding-top: 2px;
    padding-bottom: 2px;
}

#SvePorudzbine:hover {
    text-decoration: underline !important;
}

@media only screen and (max-width: 1100px) {
    #right {
        width: 100%;
        float: none;
    }

    #left {
        width: 100%;
        float: none;
    }

    .proizvod {
        width: 48%;
        margin: 1%;
    }

    .PodGrupa {
        width: 48%;
        margin: 1%;
    }
}